<form (ngSubmit)="submitQuote()" #QuoteForm="ngForm">
  <div class="form-group">
    <label for="username">Username</label><br />
    <input
      class="form-control"
      type="text"
      name="username"
      id="username"
      [(ngModel)]="newQuote.username"
      #username="ngModel"
      required
    />
  </div>

  <div [hidden]="username.valid || username.pristine">
    
  </div>
  <!-- display {{newQuote.username}} -->
  <div class="form-group">
    <label for="author">Author</label><br />
    <input
      class="form-control"
      type="text"
      name="author"
      id="author"
      #author="ngModel"
      [(ngModel)]="newQuote.author"
    />
    <div [hidden]="author.valid || author.pristine">
      <p class="red">Author is required</p>
    </div>
    <!-- display {{newQuote.description}} -->
  </div>
  <div class="form-group">
    <label for="quote">Quote</label><br />
    <input
      class="form-control"
      type="textarea"
      name="quote"
      id="quote"
      rows="5"
      [(ngModel)]="newQuote.quote"
      #quote="ngModel"
      required
    />
    <div [hidden]="quote.valid || quote.pristine">
      
    </div>
  </div>
  <!-- display {{newQuote.quote}} -->
  <div class="form-group">
    <button class="btn btn-secondary" type="submit">Add Quote</button>
  </div>

  <!-- display {{newQuote.completeDate}} -->
</form>
