.wrapper {
  display: flex;
  height: 90vh;
  width: 100%;
}

.form-container{
  width: 30%;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(0, 255, 255, 0.535);
  border-radius: 0.3rem;
  height: auto;
  width: 20rem;
  padding: 1rem 1rem;
  border-radius: 0.3rem;
  margin: 1rem;
}

.title {
  font-family: "Germania One", cursive;
  font-weight: 300;
  font-size: 1.4rem;
}

.title-container{
  display: flex;
  flex-direction: column;
}

.btn-button {
  padding: 5px 5px;

  text-transform: uppercase;
  width: 100%;
}

.btn-button:hover {
  color: aquamarine;
  background-color: #000;
  cursor: pointer;
}

.align {
  margin-left: 4rem;
}

.quote-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 70%;
  overflow: auto;
}
