.display {
  background-color: rgba(0, 255, 255, 0.535);
  height: 30rem;
  border-radius: 0.3rem;
  padding: 0.1rem 1rem;
  margin: 1rem;
  text-transform: capitalize;
}

.Dtitle{
    text-align: center;
    color: #000;
}