<div class="container">
  <p>
    Submitted By: <span>{{ quotes.username }}</span>
  </p>
  <p>
    Posted On: <span>{{ quotes.completeDate  }}</span>
  </p>
  <div class="quote-btn">
    <button class="btn btn-secondary" (click)="counter = counter + 1">
      upvote {{ counter }}
    </button>
    <button class="btn btn-secondary" (click)="decrement = decrement + 1">
      Downvote {{ decrement }}
    </button>
  </div>

  <button class="btn btn-danger rapper" (click)="deleteQuote(true)">
    Delete
  </button>
</div>
